/*remove margins from the page*/
body{
    margin: 0;
}

/*change background color of header to blue, add padding around the text and make it arial in the center of the page*/
#header {
    background-color: #0b73d9;
    text-align: center;
    font-family: Arial;
    padding: 1px;
}

/*change the header one text to be white, size 36px, bold, and remove the game between header and text in header*/
#header h1{
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: -15px;
}

/*itilasize the text in the header with color white and size 15px*/
#header p{
    color: white;
    font-size: 15px;
    font-style:italic;
}

/*add a 15px margin on the left side of the document and make all text arial*/
#main-content{
    margin-left: 15px;
    font-family: Arial;
}

/*make second header size 23px, bold, uppercase, and adjust the margins on top and bottom*/
#main-content h2{
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 25px;
    color: black;
}

/*change all paragraphs in the main content to be size 15px and black*/
#main-content p{
    font-size: 15px;
    color: black;
}

/*make header three size 18px, bold, uppercase, and add negative margin to match image spacing*/
#main-content h3{
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -10px;
}

/*change the margins for the unordered list to match image*/
#main-content ul{
    margin-top: 25px;
    margin-left: -10px;
    margin-bottom: 20px;
}

/*change font size to 14px for unordered list variables and add a bottom margin to seperate them*/
#main-content ul li{
    font-size: 14px;
    margin-bottom: 8px;
}

/*make header four size 15px and have zero margin on the bottom to match the image*/
#main-content h4{
    font-size: 15px;
    margin-bottom: 0;
}

/*make the word mantle orange and bold to match the image*/
.important{
    color: #eb690c;
    font-weight: bold;
}

/*make header five size 13px and have a larger margin-top to match image*/
#main-content h5{
    font-size: 13px;
    margin-top: 28px;
}

/*add negative margin to the left side of ordered list to match image*/
#main-content ol{
    margin-left: -5px;
}

/*for each ordered list element in ordered list make size 14px and add small bottom margin for seperation*/
#main-content ol li{
    font-size: 14px;
    margin-bottom: 5px;
}

/*make header six bold, size 12px, and remove the bottom margin*/
#main-content h6{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0;
}

/*This section was the hardest for me, took a little time to seperate the image from the text.
First i made the whole section a light blue box, with a light gray border while adding margins to match image.
Second for inside the box I added padding to match the image and move the text and image around.
Third I added a flexbox with space between to seperate the image from the text.
*/
#quiz-section{
    background-color: rgb(224, 247, 255);
    border: 1px solid #c8c8c8;
    padding: 10px 15px 5px 15px;
    margin-top: 40px;
    margin-right: 15px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/*For the image I set it's order to 2 for flex box so it would be on the right side.
I also changed the size of the image, changed margins to match the picture, and put a purple border on the pic*/
#quiz-section img{
    order: 2;
    width: 100px;
    margin-right: 30px;
    margin-top: 15px;
    border: 3px solid rgb(167, 41, 246);
}

/*Finally I added a small gap below each text input so questions aren't right next to each other*/
#quiz-section input[type="text"]{
    margin-bottom: 5px;
}

/*made all text in table arial*/
#species-table{
    font-family: Arial;
}

/*set the width of the table, changed top margin to match image reference, and added spacing between cells with a black boarder*/
#species-table table{
    width: 420px;
    margin-top: -17px;
    border-spacing: 2px;
    border: 1px solid black;
}

/*set the header column background to slightly darker gray with white text on the left side with a little padding*/
#species-table th{
    background-color: #888888;
    color: white;
    text-align: left;
    padding: 10px;
}

/*set the regular rows in table to have text on the left with some padding*/
#species-table td{
    text-align: left;
    padding: 10px;
}

/*makes the footer have a light gray background, added margins on top and bottom to match pic reference, and center the arial text with padding around it*/
#footer{
    background-color: lightgray;
    padding: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial;
}